
<custom-table class="customTable" [tableData]="pruebadeTabla"/>

<div class="prueba">
  <custom-menu [menuConfig]="myMenu" />
</div>

<button (click)="pruebaToggle('segundo')">Dale papa</button>
<div id="content">

  <main>
    <!-- <h3>Hola3</h3>  -->
    <div class="pruebaAside pruebaAside2" #parent2>
      <custom-aside [idAside]="'segundo'" [parentAside]="parent2">

      <h2>Hola</h2>
      <button (click)="pruebaToggle('primero')">Dale papa</button>

      </custom-aside>
    </div>
    <div id="maincont">
      <h2>Yiip</h2>
    </div>
  </main>
  <div class="pruebaAside pruebaAside3" #parent>
    <custom-aside [idAside]="'primero'" [parentAside]="parent" typeAside="cover-right">

    <h2>Hola</h2>
    <button (click)="pruebaToggle('segundo')">Dale papa</button>

    </custom-aside>
   </div>
</div>






