
<custom-table class="customTable" [tableData]="pruebadeTabla"/>

<div class="prueba">
  <custom-menu [menuConfig]="myMenu" />
</div>

<button (click)="pruebaToggle('segundo')">Dale papa</button>
<div id="content">
  <custom-aside [idAside]="'segundo'" class="pruebaAside pruebaAside2">

    <h2>Hola</h2>


    </custom-aside>
  <main>
    <!-- <h3>Hola3</h3>  -->
    <!-- <div class="pruebaAside pruebaAside2" #parent2> -->

    <!-- </div> -->
    <button (click)="pruebaToggle('primero')">Dale papa</button>
    <div id="maincont">
      <button (click)="muestraPopover($event,'top')">PopoverTop</button>
      <button (click)="muestraPopover($event, 'bottom')">PopoverBottom</button>
      <button (click)="muestraPopover($event, 'right')">PopoverRight</button>
      <button (click)="muestraPopover($event, 'left')">PopoverLeft</button>
      <button (click)="popoverTemplate($event, myPopoverTemplate)">Popover Template</button>
      <h2>Yiip</h2>
    </div>
  </main>

  <button (click)="pruebaToggle('segundo')">Dale papa</button>
  <button (click)="pruebaToggle('primero')">Dale papa cover</button>

  <custom-aside [idAside]="'primero'" class="pruebaAside pruebaAside2" [typeAside]="'cover-right'">

    <h2>Hola</h2>
    <button (click)="pruebaToggle('primero')">Dale papa</button>


    </custom-aside>
</div>

<button (click)="showModal()">Open Modal</button>

<button (click)="showMOdalWithTemplate(mytemplate)">Open Modal Template</button>
<button (click)="openSpiner()">Open Spiner</button>

<ng-template #mytemplate>
  <h1>heyy</h1>
</ng-template>


<ng-template #myPopoverTemplate>
  <!-- Contenido del popover -->
  <div class="contPop">
    <div class="divPopover">Contenido del popover generado dinámicamente</div>
  </div>
</ng-template>






